.dockerignore
.gitlab
*.local.yml
*.log
.idea
.env
.git
.editorconfig
.gitattributes
.gitignore
.gitlab-ci.yml
Makefile
docker*.yml
bootstrap/cache/*
node_modules
public/dist/*
public/hot
public/storage
storage/app/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
storage/*.cache
vendor
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log